@import '../../../../styles/definitions';

.eam-card.eam-card--favorites-list {
  .mdl-card__title {
    border-bottom: 1px solid $grey-100;
    padding: 16px 48px 16px 16px;

    .mdl-card__title-text {
      margin: 0;
    }
  }

  .mdl-card__menu {
    left: auto;
    right: 12px;
    top: 11px;
  }

  .empty-list {
    padding: 16px;

    p {
      margin: 0;
    }
  }
}
