.eam-card-wrapper {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;

  @include from(tablet) {
    padding: 32px;
  }
}

.eam-card {
  min-height: 0;
  position: relative;
  width: $card-width;

  @include from(large) {
    z-index: 3;
  }

  @include upto(tablet) {
    width: 100%;
  }

  .mdl-list__item-avatar {
    background-color: transparent;
  }

  .mdl-card__title-text {
    color: $text-color;
    font-family: $font-titles;
    font-size: 18px;
    font-weight: 500;
  }

  .mdl-card__supporting-text {
    box-sizing: border-box;
    width: 100%;
  }

  .mdl-list {
    margin: 0;
  }

  .loading-indicator {
    display: flex;
    justify-content: center;
    padding: 32px;
  }
}


.eam-card__link {
  align-items: center;
  color: $grey-900;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-weight: 400;

  .mdl-list__item-secondary-action {
    display: none;
  }

  &--active,
  &:hover {
    color: $blue-900;

    .mdl-list__item-secondary-action {
      display: block;
    }
  }
}
