.eam-card-wrapper {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;

  @include from(tablet) {
    padding: 16px;
  }

  @include from(large) {
    padding: 32px;
  }
}

.eam-card {
  min-height: 0;
  position: relative;
  width: $card-width;

  @include from(large) {
    z-index: 3;
  }

  @include upto(tablet) {
    width: 100%;
  }

  .mdl-card__title {
    padding: 16px 48px 16px 32px;

    .mdl-card__title-text {
      color: $text-color;
      font-size: 18px;
      font-weight: 500;
      margin-left: 24px;
    }

    .mdl-list__item-avatar {
      height: 24px;
      position: absolute;
      right: 18px;
      top: 14px;
      width: 24px;
    }
  }

  .mdl-card__menu {
    left: 12px;
    top: 11px;

    a {
      color: $black;
    }
  }

  .mdl-list__item-avatar {
    background-color: transparent;
  }

  .mdl-card__supporting-text {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
  }

  .mdl-list {
    margin: 0;
    padding: 0;
  }

  .loading-indicator {
    display: flex;
    justify-content: center;
    padding: 32px;
  }

  .eam-card__list-subheader {
    border-top: 1px solid $grey-100;
    color: $black-54;
    font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: 48px;
    margin: 0;
    padding: 0 16px;
  }
}

.eam-card__link {
  align-items: center;
  color: $grey-900;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-weight: 400;

  &:hover,
  &--active {
    color: $blue-900;
  }
}
