@import '../../../../styles/definitions';

.map-wrapper {
  background-color: $background-color;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}
