@import '../../../../styles/definitions';

.eam-card.eam-card--accents-list {
  .mdl-card__title {
    border-bottom: 1px solid $grey-100;
    padding: 16px 48px 16px 32px;
  }

  .mdl-card__title-text {
    line-height: 24px;
    margin-left: 24px;
  }

  .mdl-card__supporting-text {
    padding: 0 16px;
  }

  .mdl-list__item-avatar {
    height: 24px;
    position: absolute;
    right: 18px;
    width: 24px;
  }

  .mdl-card__menu {
    left: 16px;
    right: auto;
    top: 12px;
  }

  .mdl-list__item {
    min-height: 42px;
    padding: 4px 0 4px 8px;
  }

  .mdl-radio.is-upgraded {
    padding-left: 36px;
  }

  .mdl-button--icon:hover {
    i {
      color: $blue-900;
    }
  }
}
