@import '../../styles/base';

.eam-layout {
  @include from('desktop') {
    .mdl-layout__header,
    .mdl-layout__header-row {
      height: $header-height;
      min-height: $header-height;
    }
  }

  .mdl-layout__header {
    background-color: $grey-900;
  }

  .mdl-layout__header-row {
    padding: 0 40px;

    .mdl-navigation__link {
      color: $white;
    }
  }

  .mdl-layout-title {
    color: $white;
    font-weight: 300;

    * {
      vertical-align: middle;
    }

    strong {
      font-weight: 500;
    }
  }

  &-title__icon {
    height: 28px;
    margin-right: 12px;
    vertical-align: middle;
    width: 28px;
  }
}
