// Layout
$page-width: 1200px;
$header-height: 56px;
$drawer-width: 240px;
$card-width: 330px;

// Font
$roboto: Roboto, Helvetica, Arial, sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colours
$white: #fff;

$black: #000;
$black-12: rgba($black, .12);
$black-54: rgba($black, .54);
$black-87: rgba($black, .87);

$blue-700: material-color('blue', '700');
$blue-900: material-color('blue', '900');

$red-400:  material-color('red', '400');

$grey-100: material-color('blue-grey', '100');
$grey-700: material-color('blue-grey', '700');
$grey-900: material-color('blue-grey', '900');

$text-color: $grey-900;
$background-color: $grey-100;
$theme-color: #192f5d;
$grey-hover: #e0e0e0;

// Breakpoints
$breakpoints: (
  'tablet': 480,
  'desktop': 840,
  'large': 1024
);
