@import '../../../../styles/definitions';

.videos-list-overlay {
  background: rgba($grey-900, .8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.videos-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 30px 0;

  @include upto(tablet) {
    height: 85%;
    padding: 0;
  }

  @include from(large) {
    position: absolute;
    right: 0;
    width: calc(100% - #{$card-width} - 64px);
  }
}

.videos-list__wrapper {
  flex-basis: 75%;
  height: 100%;
  position: relative;

  @include upto(tablet) {
    flex-basis: 100%;
  }
}

.videos-list__button-container {
  align-items: center;
  display: flex;
  flex-basis: 12.5%;
  flex-direction: row;

  @include upto(tablet) {
    display: none;
  }
}

.mdl-button.videos-list__button--close {
  position: absolute;
  right: -16px;
  top: -16px;

  @include upto(tablet) {
    display: none;
  }
}

.videos-list__button-container--mobile {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: space-around;

  @include from(tablet) {
    display: none;
  }
}

.mdl-button.videos-list__button,
.mdl-button.videos-list__button {
  background-color: $white;

  &:hover {
    background-color: $white;

    i {
      color: $blue-900;
    }
  }
}
