@import '../../../../styles/definitions';

.videos-list-overlay {
  background: rgba($black, .7);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  @include upto('tablet') {
    background: $black;
    padding-top: $header-height;
  }
}

.videos-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: (30px + $header-height) 0 30px;

  @include upto(tablet) {
    height: 70%;
    padding: 0;
  }

  @include from(large) {
    position: absolute;
    right: 0;
    width: calc(100% - #{$card-width} - 64px);
  }
}

.videos-list__wrapper {
  flex-basis: 75%;
  height: 100%;
  max-height: 640px;
  position: relative;

  @include upto(tablet) {
    flex-basis: 100%;
  }
}

.videos-list__title-bar-mobile {
  height: 15%;

  @include from(tablet) {
    display: none;
  }
}

.videos-list__button-container {
  align-items: center;
  display: flex;
  flex-basis: 12.5%;
  flex-direction: row;

  @include upto(tablet) {
    display: none;
  }
}

.mdl-button.videos-list__button--close {
  position: absolute;
  right: -16px;
  top: -16px;

  @include upto(tablet) {
    display: none;
  }
}

.videos-list__button-container-mobile {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: space-around;

  @include from(tablet) {
    display: none;
  }
}

.mdl-button.videos-list__button,
.mdl-button.mdl-button--fab.videos-list__button {
  &[disabled] {
    visibility: hidden;
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: $white;
  }

  &:hover,
  &:active,
  &:focus {
    @include from(tablet) {
      i {
        color: $blue-900;
      }
    }
  }
}
