@import '../../styles/definitions';

.eam .mdl-layout__container {
  // See http://stackoverflow.com/questions/32202215/
  position: static;
}

.eam-layout.mdl-layout {
  @include from(desktop) {
    .mdl-layout__header,
    .mdl-layout__header-row {
      height: $header-height;
      min-height: $header-height;
    }
  }

  .mdl-layout__header {
    background-color: $theme-color;
    position: fixed;

    @include upto(large) {
      display: flex;
    }
  }

  &.no-shadow .mdl-layout__header {
    box-shadow: none;
  }

  .mdl-layout__drawer-button {
    @include from(large) {
      line-height: 56px;
      margin: 4px 16px;
    }
  }

  .mdl-layout__drawer {
    border-right: 0 none;
    transform: translateX(-290px);
    width: 280px;

    @include from(tablet) {
      transform: translateX(-330px);
      width: 320px;
    }

    &.is-visible {
      transform: translateX(0);
    }
  }

  .mdl-layout-title {
    color: $white;
    font-weight: $font-weight-light;

    * {
      vertical-align: middle;
    }

    strong {
      font-weight: $font-weight-medium;
    }
  }

  .mdl-layout__drawer-button,
  .mdl-layout__drawer,
  .mdl-layout__obfuscator {
    position: fixed;
  }

  .mdl-layout__drawer-header {
    background-color: $theme-color;

    .mdl-layout__logo-wrapper {
      padding: 24px 16px 8px;
      text-align: center;
    }

    .mdl-layout__logo {
      height: 90px;
    }

    .mdl-layout-title {
      color: $white;
      font-size: 16px;
      padding: 16px;

      @include from(tablet) {
        padding: 16px 24px;
      }
    }
  }

  .mdl-navigation {
    flex: 1;
    justify-content: space-between;
    padding: 8px 0;

    .mdl-navigation__link {
      color: $black-87;
      font-family: $roboto;
      font-weight: $font-weight-medium;
      line-height: 48px;
      padding: 0 16px;

      @include from(tablet) {
        padding: 0 24px;
      }
    }
  }

  .mdl-navigation__link {
    &.is-active {
      color: $blue-900;

      i {
        color: $blue-900;
      }
    }

    i {
      color: $black-54;
      margin-right: 32px;
    }
  }

  .mdl-layout__content {
    background-color: $grey-100;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: auto;
    padding-top: $header-height;
  }
}
