@import '../../styles/definitions';

.eam-layout.mdl-layout {
  @include from(desktop) {
    .mdl-layout__header,
    .mdl-layout__header-row {
      height: $header-height;
      min-height: $header-height;
    }
  }

  .mdl-layout__header {
    background-color: $grey-900;
  }

  .mdl-layout__header-row {
    padding: 0 32px;

    @include upto(tablet) {
      padding: 0 16px;
    }
  }

  .mdl-layout-title {
    color: $white;
    font-weight: 300;

    * {
      vertical-align: middle;
    }

    strong {
      font-weight: 500;
    }
  }

  .eam-layout-title__icon {
    height: 28px;
    margin-right: 12px;
    vertical-align: middle;
    width: 28px;
  }

  .mdl-layout__drawer-button {
    left: auto;
    line-height: $header-height;
    right: 0;

    @include upto(tablet) {
      margin: 4px;
    }

    @include from(tablet) {
      margin: 4px 12px;
    }
  }

  .mdl-layout__drawer {
    left: auto;
    right: 0;
    transform: translateX($drawer-width);

    &.is-visible {
      transform: translateX(0);
    }
  }

  .mdl-navigation .mdl-navigation__link {
    color: $text-color;
  }

  .mdl-layout__content {
    background-color: $grey-100;
  }
}
