@import '../../../../styles/definitions';

.eam-card--intro {
  margin-bottom: 16px;

  .mdl-card__supporting-text {
    color: $text-color;
    padding-bottom: 0;
  }

  .intro__title {
    font-size: 18px;
    letter-spacing: 0;
    margin: 0 0 8px;
  }

  .intro__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
  }

  .intro__button {
    float: right;
  }
}
