@import '../../../../styles/definitions';

.eam-card.eam-card--countries-list {
  .mdl-list__item {
    padding: 12px 16px;
  }

  .mdl-list__item-primary-content {
    color: $grey-900;
    font-weight: 400;

    &:hover {
      color: $blue-900;
    }
  }

  .mdl-card__supporting-text {
    padding: 0 16px;
  }
}
