@import '../../../../styles/definitions';

.eam-card.eam-card--countries-list {
  .mdl-card__title {
    padding: 16px 32px;
  }

  .mdl-list__item {
    padding: 12px 8px 12px 12px;
  }

  .mdl-card__supporting-text {
    padding: 0 8px;
  }
}
