@import '../../../../styles/definitions';

.eam-card.eam-card--countries-list {
  .mdl-list__item {
    color: $grey-900;
    cursor: pointer;

    &:hover {
      color: $blue-900;
    }
  }

  .loading-indicator {
    display: flex;
    justify-content: center;
    padding: 32px;
  }
}
